.todoform {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 4px 6px rgb(0 4px 6px 0.3);
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  }
  .modernInput {
    color: black;
    font-size: 16px;
    border: none;
    width: 100%;
    display: block;
  }
  .modernInput:focus {
    outline: none;
  }
  .modernButton {
    display: inline-block;
    border: none;
    border-radius: 4px;
    background-color: #6bb4ec;
    padding: 12px 20px;
    color: white;
    cursor: pointer;
  }
  .inputcontainer {
    display: flex;
  }